<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 인터페이스의 Full Path와 일치해야 합니다 -->
<mapper namespace="com.study.connection.mapper.CategoryMapper">

    <!-- 모든 카테고리 목록 조회 -->
    <select id="findAll" resultType="com.study.connection.entity.Category">
        SELECT
            id,
            name
        FROM t_category
        ORDER BY id ASC
    </select>

</mapper>